html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: VpPixel;
  src: url(../fonts/VPPixel-Simplified.otf);
}

@font-face {
  font-family: Arcade;
  src: url(../fonts/ka1.ttf);
}

#game-title {
  padding-top: 15em;
}

#start-game-container {
  background: url(../images/scream.jpeg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: self-end;
  width: 30%;
  margin: 2% auto;
  text-align: center;
  color: white;
  font-family: VpPixel;
  margin-top: 5%;
}

.controls img {
  width: 70%;
  margin-right: 2px;
}

.controls p {
  font-size: 1.5em;
}

.start-game-btn {
  padding: 10px 20px;
  font-size: 1.5em;
  background-color: #f39c12;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#start-button:hover {
  background-color: #e67e22;
}

#main-game-container {
  width: 100%;
  height: 100vh;
  margin: 0;
}

canvas {
  background-color: #ccc;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
}

#game-over-container {
  background: url(../images/screamOver.webp) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: arcade;
  color: red;
}

#gameover-msg {
  letter-spacing: 0.2em;
  font-size: 5em;
}

#score-block,
#high-score-block {
  font-size: 2em;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin-bottom: 0.5em;
}

#highscore,
#score {
  color: white;
}

#music-btn {
  position: fixed;
  top: 0;
  right: 0;
  background: #02354899;
  border: none;
  padding: 1em;
}

#music-btn > img {
  width: 80px;
}
